<!-- JOB-POSTING AREA -->

          


  <div class="container">
      <div class="row  overflow-hidden">
<div class="col-md-8">
  <div class="cards">
    <form [formGroup]="jobPostForm" (ngSubmit)="submit()">
      
      <kendo-formfield>
        <kendo-floatinglabel text="Title" >
          <kendo-textbox [style.width.px]="400" formControlName="title" ></kendo-textbox>
        </kendo-floatinglabel>
        <kendo-formhint>Eg: UI Developer</kendo-formhint>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="Description" >
          <kendo-textarea [style.width.px]="400" formControlName="description" ></kendo-textarea>
        </kendo-floatinglabel>
        <kendo-formhint>
            Not more than 150 words.
        </kendo-formhint>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="Type" >
          <kendo-textbox [style.width.px]="400" formControlName="type" ></kendo-textbox>
        </kendo-floatinglabel>
        <kendo-formhint>
          Eg:Full Time
        </kendo-formhint>
      </kendo-formfield>
      
       <kendo-formfield>
       <kendo-floatinglabel text="Created At">
        <input onfocus="(this.type='date')" onblur="(this.type='text')"  [style.width.px]="400" formControlName="createdAt" />

       </kendo-floatinglabel>
      
      </kendo-formfield> 
        
      <kendo-formfield>
        <kendo-floatinglabel text="Location" >
          <kendo-textbox [style.width.px]="400" formControlName="location" ></kendo-textbox>
        </kendo-floatinglabel>
        <kendo-formhint>
          Eg: Coimbatore
        </kendo-formhint>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="Salary" >
          <kendo-numerictextbox [style.width.px]="400" formControlName="salary" ></kendo-numerictextbox>
        </kendo-floatinglabel>
        <kendo-formhint>18000</kendo-formhint>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="No Of Vacancy" >
          <kendo-numerictextbox [style.width.px]="400" formControlName="noOfVacancy" ></kendo-numerictextbox>
        </kendo-floatinglabel>
        <kendo-formhint>12</kendo-formhint>
      </kendo-formfield>
      
      <kendo-formfield>
       <input type="checkbox" #isActive formControlName="isActive">
        <kendo-label text="Is Active" [for]="isActive"></kendo-label>
      </kendo-formfield>
      <input class="btn btn-info" type="submit">
      </form>
     
  </div>
  
</div>
<div class="col-md-4">
  
  <div style="width:auto; height:750px;overflow-y: scroll;">
      
  <section class="directory-grid">
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Vivian</h1>
        <p>Finance</p>
      </div>
    </div>

    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Stuart</h1>
        <p>Finance</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Max</h1>
        <p>Finance</p>
      </div>
    </div>
    
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Julia</h1>
        <p>Marketing</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Todd</h1>
        <p>Marketing</p>
      </div>
    </div>
    
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Ria</h1>
        <p>Developer</p>
      </div>
    </div>
     <!-- ADVERTISMENT!!! -->
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Carrie</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Harry</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Alex</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Lisa</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Ken</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Bo</h1>
        <p>QA</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg">
      </div>
      <div class="information">
        <h1>Maria</h1>
        <p>QA</p>
      </div>
    </div>
  </section>
  </div>
 
</div>
</div>
      </div>
    <!-- JOB-POSTING AREA END -->