
#job-posting-area{
    background-color: #f3f3f3;
  }
  #job-posting-area .job-posting-wrapper{
    max-width: 800px;
  }
  #job-posting-area .job-posting-area-heading{
    text-transform: uppercase;
    font-size: 24px;
  }
  
  /*
  =============================================
  JOB POSTING PAGE END
  =============================================
  */
  
  
  /*MEDIA QUERY*/
  
  @media (max-width: 1199px) {
  }
  
  @media (max-width: 991px) {
  }
  
  @media (max-width: 767px) {
  }
  
  @media (max-width: 575px) {
  }
  
  @media (min-width: 576px) {
  }
  
  @media (min-width: 768px) {
  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
  }
  
  @media (min-width: 1400px) {
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
  }
  @media (min-width: 768px) and (max-width: 991px) {
  }
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  
  
  
.directory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 24px;
  grid-auto-flow: dense;
  
}

.contact {
  background-color: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border-radius: 2px;
  border: 1px solid #F4F4F4;
  padding: 24px;
  
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.portrait {
   max-width: 100px;
   border-radius: 50px;
}

.information {
  text-align: right;
  align-self: center;
  
  h1 {
    font-weight: 800;
    margin: 0;
  }
  
  p {
    font-weight: 300;
    margin: 0;
  }
}

.media {
  grid-row: auto / span 2;
  margin: 0 auto;
}