<!-- JOB-POSTING AREA
<section id="job-posting-area" class="py-5">
    <div class="container">
      <h3 class="job-posting-area-heading mb-4 text-center">
        posting a job
      </h3>
      <div class="job-posting-wrapper mx-auto p-3">
        <form action="#">
          <div class="form-group">
            <label for="job-title">Job title:</label>
            <input
              id="job-title"
              class="form-control"
              name="job-title"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="job-description">Short Job description:</label>
            <textarea
              id="job-description"
              class="form-control"
              name="job-description"
              rows="4"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="job-type">Job type:</label>
            <input
              id="job-type"
              class="form-control"
              name="job-type"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="employer-name">Employer name:</label>
            <input
              id="employer-name"
              class="form-control"
              name="employer-name"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="location">Location:</label>
            <input
              id="location"
              class="form-control"
              name="location"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="job-email">Email:</label>
            <input
              id="job-email"
              class="form-control"
              name="job-email"
              type="email"
            />
          </div>
          <div class="form-group">
            <label for="job-skills">Skills:</label>
            <input
              id="job-skills"
              name="job-skills"
              type="text"
            />
          </div>
          <button
            id="job-post-button"
            class="btn btn-success mt-3"
            type="submit"
          >
            Post the job
          </button>
        </form>
      </div>
    </div>
  </section> -->
  <!-- JOB-POSTING AREA END -->

  <div class="container">
      <div class="row  overflow-hidden">
<div class="col-md-8">
  <div class="cards">
    <form [formGroup]="jobPostForm" (ngSubmit)="submit()">
      <kendo-formfield>
        <kendo-floatinglabel text="Company Id" >
          <kendo-numerictextbox [style.width.px]="400" formControlName="companyId" ></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="Title" >
          <kendo-textbox [style.width.px]="400" formControlName="title" ></kendo-textbox>
        </kendo-floatinglabel>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="Description" >
          <kendo-textbox [style.width.px]="400" formControlName="description" ></kendo-textbox>
        </kendo-floatinglabel>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="Type" >
          <kendo-textbox [style.width.px]="400" formControlName="type" ></kendo-textbox>
        </kendo-floatinglabel>
      </kendo-formfield>
      
       <kendo-formfield>
       
          <input onfocus="(this.type='date')" onblur="(this.type='text')"  [style.width.px]="400" formControlName="createdAt" />
      
      </kendo-formfield> 
        
      <kendo-formfield>
        <kendo-floatinglabel text="Location" >
          <kendo-textbox [style.width.px]="400" formControlName="location" ></kendo-textbox>
        </kendo-floatinglabel>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="Salary" >
          <kendo-numerictextbox [style.width.px]="400" formControlName="salary" ></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-floatinglabel text="No Of Vacancy" >
          <kendo-numerictextbox [style.width.px]="400" formControlName="noOfVacancy" ></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>
      
      <kendo-formfield>
       <input type="checkbox" #isActive formControlName="isActive">
        <kendo-label text="Is Active" [for]="isActive"></kendo-label>
      </kendo-formfield>
      <input class="btn btn-info" type="submit">
      </form>
     
  </div>
  
</div>
<div class="col-md-4">
  

  <section class="directory-grid">
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="http://www.thefaceplace.co.nz/media/images/DrKirshni.png">
      </div>
      <div class="information">
        <h1>Vivian</h1>
        <p>Finance</p>
      </div>
    </div>

    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://www.mythreadlab.com/assets/images/team/tlittle.jpg">
      </div>
      <div class="information">
        <h1>Stuart</h1>
        <p>Finance</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://www.tc-charton.com/images/men-optical2.jpg">
      </div>
      <div class="information">
        <h1>Max</h1>
        <p>Finance</p>
      </div>
    </div>
        <div class="media">
      <img src="https://glaciercitygazette.net/wp-content/uploads/2018/04/Fixedline-Gazette-Ad-330.jpg">
           </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://pbs.twimg.com/profile_images/936623931255005184/pCtjbY60_400x400.jpg">
      </div>
      <div class="information">
        <h1>Julia</h1>
        <p>Marketing</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://secure.gravatar.com/avatar/d772833b74b85ce7ccebec45e78685bb?s=400&d=mm&r=g">
      </div>
      <div class="information">
        <h1>Todd</h1>
        <p>Marketing</p>
      </div>
    </div>
    
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://images.pexels.com/photos/157661/young-woman-shooting-model-157661.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=200">
      </div>
      <div class="information">
        <h1>Ria</h1>
        <p>Developer</p>
      </div>
    </div>
     <!-- ADVERTISMENT!!! -->
    <div class="media">
      <img src="https://printerinkcartridges.ie/blog/wp-content/uploads/2013/02/Best-Deals-on-Printer-Ink-and-Toner-on-line.jpg">
     </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://static1.squarespace.com/static/55dc9761e4b0f52ff875e6e8/t/56e761e0e707ebc09b460775/1458004517118/">
      </div>
      <div class="information">
        <h1>Carrie</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://smhttp-ssl-33667.nexcesscdn.net/manual/wp-content/uploads/2016/08/swept-back-hair-short-beard-men-look.jpg">
      </div>
      <div class="information">
        <h1>Harry</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://secure.gravatar.com/avatar/eb9deeb63c91b1c16548f2f1e1348a86?s=400&d=mm&r=g">
      </div>
      <div class="information">
        <h1>Alex</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="http://www.trbimg.com/img-535dd4a4/turbine/la-bio-nardine-saad/400/400x400">
      </div>
      <div class="information">
        <h1>Lisa</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://mm.aiircdn.com/4/765347.png">
      </div>
      <div class="information">
        <h1>Ken</h1>
        <p>Developer</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="https://profilepicsbucket.crossfit.com/9e218-P153604_4-184.jpg">
      </div>
      <div class="information">
        <h1>Bo</h1>
        <p>QA</p>
      </div>
    </div>
    <div class="contact">
      <div class="photo">
        <img class="portrait" src="http://www.thefaceplace.co.nz/media/avatar_57688fbe35a9e.jpg">
      </div>
      <div class="information">
        <h1>Maria</h1>
        <p>QA</p>
      </div>
    </div>
  </section>
</div>
</div>
      </div>
  