 <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Job360</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" (click)="SeekerHomebtn()"><i class="fa fa-suitcase" aria-hidden="true"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" (click)="profilebtn()" ><i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile</a>
            </li>
            <li class="nav-item" (click)="Logout()">
                <a class="nav-link"  routerLinkActive="active"><i class="fa fa-suitcase" aria-hidden="true"></i>Logout</a>
            </li>
            <li class="nav-item">
                <input type="file">
            </li>
          
        </ul>
    </div>
</nav> 


