
 <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Job360</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item" [ngClass]="{'active1': navValue==true}">
                <a class="nav-link" routerLinkActive="active1" (click)="SeekerHomebtn()"><i class="fa fa-suitcase" aria-hidden="true"></i>Home</a>
            </li>
            <li class="nav-item" [ngClass]="{'active1': navValue==false}">
                <a class="nav-link" routerLinkActive="active1" (click)="profilebtn()" ><i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile</a>
            </li>
            <li class="nav-item" (click)="Logout()">
                <a class="nav-link"  routerLinkActive="active1"><i class="fa fa-suitcase" aria-hidden="true"></i>Logout</a>
            </li>
          
          
        </ul>
    </div>
</nav> 


