<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="companyProfileForm" (ngSubmit)="companyProfileApiTrigger()">
                <kendo-formfield>
                    <kendo-floatinglabel text="Company Name">
                        <kendo-textbox formControlName="companyName"></kendo-textbox>
                    </kendo-floatinglabel>
                </kendo-formfield>
                <kendo-formfield>
                    <kendo-floatinglabel text="Address">
                        <kendo-textbox formControlName="address"></kendo-textbox>

                    </kendo-floatinglabel>
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-floatinglabel text="Contact No">
                        <kendo-textbox formControlName="contactNo"></kendo-textbox>

                    </kendo-floatinglabel>
                </kendo-formfield>
<input type="submit" class="btn btn-info"/>
                
            </form>
        </div>
    </div>
</div>
