<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="companyProfileForm">
                <kendo-formfield>
                    <kendo-floatinglabel text="Company Name">
                        <kendo-textbox formControlName="companyName"></kendo-textbox>
                    </kendo-floatinglabel>
                </kendo-formfield>
                <kendo-formfield>
                    <kendo-floatinglabel text="Address"></kendo-floatinglabel>
                    <kendo-textbox formControlName="address"></kendo-textbox>
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-floatinglabel text="Contact No"></kendo-floatinglabel>
                    <kendo-textbox formControlName="contactNo"></kendo-textbox>
                </kendo-formfield>

                
            </form>
        </div>
    </div>
</div>
